<%
local function get_status()
    local running = luci.sys.call("pgrep -f cloud-clipboard >/dev/null") == 0
    if running then
        return translate("运行中")
    else
        return translate("未运行")
    end
end
%>

<span><%=get_status()%></span>

<script type="text/javascript">//<![CDATA[
    XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "services", "cloud-clipboard", "status")%>', null,
        function(x, data) {
            var status = document.querySelector('div[data-name="_status"] span');
            if (data && status) {
                status.textContent = data.running ? '<%:运行中%>' : '<%:未运行%>';
            }
        }
    );
//]]></script>
