/server-node/
/server-go-ai/
/server/
/cloud-clip/uploads/
/cloud-clip/config.json
/cloud-clip/history.json
/cloud-clip/mobile/*.aar
/cloud-clip/mobile/*.jar
/cloud-clip/cloud-clip
/cloud-clip/clipboard
/android/.idea/
/android/.gradle/
.vscode/
cloudflare/workers/.wrangler
cloudflare/workers/node_modules
cloudflare/pages/server*
cloudflare/node_modules
.kotlin/
*.keystore
.kilo
clip-sync
clip-sync/dist/
clip-sync/src-tauri/target/
openwrt/build/

# macOS
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride